.App {
  background: rgb(85, 85, 39);
  background-attachment: fixed;
  background-position: left top;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  height: 200%;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}

.categoryitem {
  background-color: aqua;
  border-style: solid;
  border-radius: 20px;
}

.b-example-divider {
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.controls {
  display: flex;
  margin: 10px;
  padding: 0px;
  justify-content: center;
}

.createForm {
  margin: 0;
  animation: 0.5s ease-out 0s 1 opacityIn;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formitself {
  width: 20%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.146);
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.submitbutton {
  text-align: center;
}

.createForm {
  align-items: center;
}

.creationLog {
  width: 800px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.146);
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0%;
    transform: scale(0.5);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

:root {
  --surface-color: #fad961;
  --curve: 50;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 18em));
  gap: 2rem;
  margin: 2rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  max-width: 18em;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  border-style: none;
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 1.5em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1.1em;
  color: black;
  margin: 0 0 0em;
  font-weight: bolder;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  text-align: center;
  padding: 0 2em 2em;
  margin: 0;
  color: rgb(43, 43, 43);
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
